.profile__info {
    margin: 0;
    max-width: 336px;
    min-width: 73px;
    padding: 22px 0 25px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 730px) {
    .profile__info {
        max-width: 282px;
        padding: 26px 0 36px;
    }
}