.place__caption {
    margin: 0;
    width: 246px;
    height: 23px;
    padding: 0px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: black;
    position: relative;
}