.header__email {
    margin: 0;
    padding: 0;
    padding-right: 24px;
    width: min-content;
    height: 22px;
    color:#fff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}