.place__trash {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19px;
    border: 0;
    background-image: url(../../../images/Trash.svg);
    background-size: 18px 19px;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.place__trash:hover {
    opacity: 0.6;
}