.profile__add-button {
    margin: 0 0 0 auto;
    width: 154px;
    height: 54px;
    align-self: center;
    padding: 14px 64px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    cursor: pointer;
    background: url(../../../images/Vector-add-button.svg) no-repeat center;
    background-size: 24px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen  and (max-width: 730px) {
    .profile__add-button {
        margin: 0;
        width: 286px;
        padding: 17px 133px;
        background-size: 16px;
    }
}