.popup__form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 54px 0 0;
    border: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: 730px) {
    .popup__form {
        padding: 35px 0 0 0;
    }
}