.popup__subtitle {
    margin: 0;
    max-width: 291px;
    padding: 10px 0 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 730px) {
    .popup__subtitle {
        max-width: 240px;
    }
}